
    <div class="card" style="width: 25rem;">
        <img src="~/image/@Model.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">">@Model.name</h5>
            <p class="card-text">@Model.description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.id</li>
            <li class="list-group-item">@Model.price</li>
        </ul>
        <div class="card-body">
            <a href="/home/GetAll" class="btn btn-primary" >Details</a>
        </div>
    </div>
